@font-face {
  font-family: "mononoki";
  src: local("Mononoki"), local("Mononoki Nerd Font"),
    url(../fonts/MononokiNerdFont-Regular.ttf);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "mononoki", monospace;
}
html {
  color-scheme: dark;
  font-size: 62.5%;
}
.heading {
  font-size: 3rem;
}
.time-count {
  font-size: 10rem;
}
.timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}
.btn {
  border: none;
  border-radius: 0.5rem;
  font-size: 3rem;
  background-color: #286ff6;
  padding: 1rem;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  margin: 1rem;
}
.btn:active {
  scale: 0.8;
}
/* Media Quries */
@media (max-width: 500px) {
  .time-count {
    font-size: 7rem;
  }
}
@media (max-width: 360px) {
  .time-count {
    font-size: 5rem;
  }
}
