*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "mononoki", monospace;
}
html {
  color-scheme: dark;
  font-size: 62.5%;
}
body {
  overflow: hidden;
}
button,
input {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}
li {
  list-style: none;
}
a {
  color: inherit;
}
.nav {
  padding: 2rem;
  text-align: right;
}
.nav-item {
  text-decoration: underline;
  font-size: 3rem;
  color: blueviolet;
}

.heading {
  font-size: 5rem;
}
.timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}
.time-gray {
  color: gray;
  margin: 2rem;
  font-size: 4rem;
}
.btn {
  background-color: #286ff6;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.btn-bg {
  font-size: 4rem;
}
.btn:active {
  scale: 0.8;
}
.btn-container {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  padding: 0.5rem;
}
.time-input {
  max-width: 8rem;
  min-height: 12rem;
  text-align: center;
  font-size: 4rem;
}
.modal {
  border: 2px solid #286ff6;
  border-radius: 1rem;
}
.modal-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
}
.modal-btn-close {
  font-size: 2rem;
}
/* Media quries */
@media (max-width: 470px) {
  .btn-bg {
    font-size: 3rem;
  }
  .time-input {
    max-width: 6rem;
    min-height: 10rem;
  }
  .time-gray {
    font-size: 3rem;
  }
  input {
    padding: 0.5rem;
  }
}
@media (max-width: 370px) {
  .btn-bg {
    font-size: 2.5rem;
  }
  .time-input {
    max-width: 8rem;
    min-height: 10rem;
  }
  .time-gray {
    margin: 1rem;
    font-size: 2rem;
  }
}
@media (max-width: 370px) {
  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btn-container {
    flex-direction: column;
  }
}
